# Application Configuration
PORT=3333
USE_MYSQL=true
MYSQL_URI=mysql://test_user:1234@db:3306/url_shortener

# Database Configuration
MYSQL_ROOT_PASSWORD=rootpassword
MYSQL_DATABASE=url_shortener
MYSQL_USER=test_user
MYSQL_PASSWORD=1234
